In [1]:
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

import acquire
import prepare
import wrangle_excs as wrangle

In [ ]:
def wrangle_zillow_df()
    df = acquire.get_zillow_data()

In [2]:
df = acquire.get_zillow_data()

In [3]:
df.head()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,1727539,NaN,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,1387261,NaN,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,11677,NaN,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12177905,2288172,NaN,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10887214,1970746,NaN,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

In [4]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing

def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'customer_id': 'num_rows'}).reset_index()
    return rows_missing

In [5]:
nulls_by_col(df)

                        num_rows_missing  percent_rows_missing
typeconstructiontypeid             77353             99.713825
storytypeid                        77525             99.935546
propertylandusetypeid                  0              0.000000
heatingorsystemtypeid              28005             36.100548
buildingclasstypeid                77560             99.980664
...                                  ...                   ...
buildingclassdesc                  77560             99.980664
heatingorsystemdesc                28005             36.100548
propertylandusedesc                    0              0.000000
storydesc                          77525             99.935546
typeconstructiondesc               77353             99.713825

[68 rows x 2 columns]

In [6]:
nulls_by_row(df)

   num_cols_missing percent_cols_missing  index
0                23    33.82352941176471      2
1                24   35.294117647058826     13
2                25    36.76470588235294     24
3                26    38.23529411764706     65
4                27   39.705882352941174    316
5                28    41.17647058823529    457
6                29    42.64705882352941   5285
7                30    44.11764705882353   3465
8                31   45.588235294117645   9911
9                32    47.05882352941176  12606
10               33   48.529411764705884  14817
11               34                 50.0  13357
12               35   51.470588235294116   5163
13               36    52.94117647058824   5793
14               37    54.41176470588235   3630
15               38    55.88235294117647   1932
16               39    57.35294117647059    285
17               40    58.82352941176471    230
18               41    60.29411764705882     29
19               42    61.76470588235294     26
20               43    63.23529411764706     29
21               44    64.70588235294117     79
22               45    66.17647058823529     50
23               46    67.64705882352942      5
24               47    69.11764705882352      3
25               48    70.58823529411765      3